<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParallaxTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0492A6D41DCA73C900D99264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0492A6E81DCA73C900D99264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0492A6F31DCA73C900D99264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
